body{
    position: relative;
    background-color: $bg-color;
    font-family: $body-font-family;
    font-weight: $body-font-thickness;
}
p{
    font-size: $text-size;
}
li{
    font-size: $text-size;
}
a{
    color: $address-color;
    text-decoration: none;
}
h1{
    font-family: $header-font-family;
    font-weight: $header1-font-thickness;
}
h2{
    font-family: $header-font-family;
    font-weight: $header2-font-thickness;
}
h3{
    font-family: $header-font-family;
    font-weight: $header3-font-thickness;
}
h4{
    font-family: $header-font-family;
    font-weight: $header4-font-thickness;
}
h5{
    font-family: $header-font-family;
    font-weight: $header5-font-thickness;
}

.reference{
    color: $reference-color;
    text-decoration: none;
}

//Classes
.zoom{
    margin:auto;
}

.zoom:hover{
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.image_center{
    position: relative;
    margin-left: auto;
    margin-right: auto;     
}
.image_center h4{
    text-align: center;
}
.image_center img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image_left{
    position: relative;
    float: left; //remember to clear float after using it
    display: inline;
}
.image_left h4{
    position:relative;
    text-align: center;
}
.image_left img{
    position: relative;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
//Navigation Bar
.topbar{
    top:0px;
    position:fixed;
    background-color: $bar-bg-color;
    width: 100%;
    z-index: 10;
}

.topbar a{
    //float: left;  //This makes the navigation bar thick
    text-align: center;
    color: $bar-address-color;
    text-decoration: none;
    font-size: 24px;
    padding: 10px; //Top and Bottom Spacing aren't displayed for inline elements
    display: inline-block; //Displays an element as an inline-level block container.
                            //The element itself is formatted as an inline element,
                            //but you can apply height and width values
}

.topbar a:hover {
    background-color: $selection-bg-color;
    color : $selection-text-color;
}

//Sidebar
.sidebar{
    margin-top: $top-position-documentation;
    position: fixed;
    left: 10px;
    height: 100%;
    width: $side-bar_width;
    background-color: $bar-bg-color;
    z-index: 10;
}

.sidebar li{
    list-style: none;
    font-size: 24px;
    padding: 10px 10px 10px 10px;
}

.sidebar li a{
    text-decoration: none;
    color: $bar-address-color;
}

.sidebar li:hover {
    background-color: $selection-bg-color;
    a {
        color : $selection-text-color;
    }
}

@media screen and (max-width: 1920px) {
    //desktop
    .documentation{
        position: relative;
        top: $top-position-documentation;
        margin-left: $side-bar_width+10;
        width:60%;
        padding: 0px 10px;
    }
  }
  //phones
@media screen and (max-width: 600px) {
    .documentation{
        top: $top-position-documentation;
        position: relative;
        margin-left: $side-bar_width+10;
        padding: 0px 10px;
        width:50%;
    }
  }
  @media screen and (max-width: 1920px) {
    //desktop
    .projects{
        position: relative;
        top: $top-position-projects;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .projects h1{
        position: relative;
        text-align: center;
    }
  }
  //phones
@media screen and (max-width: 600px) {
    .projects{
        position: relative;
        top: $top-position-projects;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .projects h1{
        position: relative;
        text-align: center;
    }
  }



